[Unit]
Description=OpenHaus - SmartHome/IoT Server
Documentation=https://docs.open-haus.io
After=network.target

[Service]
Environment=NODE_ENV=production
# MORE CONFIG OPTION GOES HERE
# Environment=<name>=<value>
# Environment=DB_ENABLE_AUTH=true
WorkingDirectory=/opt/OpenHaus-Server
ExecStart=/usr/bin/node index.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target